[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$

api_key= {{ (onepasswordItemFields "z5jj3mnb2vhn64c475d7zbhyma").credential.value }}




